
BODY  {
		background-color:#FFFFF0;
		   text-align:left;
      margin:0 auto;
     	font-family:Helvetica, Arial, Sans-Serif;
	}

p  {
		font-family: Helvetica, Arial, Sans-Serif;
		color:#2F4F4F;
		
}

small {
  font-family: Helvetica, Arial, Sans-Serif;
}

a{
	text-decoration: underline;
	color:#A52A2A;
	}	

H1, H2, H3, H5, H6 {font-family: Helvetica, Arial, Sans-Serif;
font-weight: normal;
color: #2F4F4F;}
h4 {font-family: Helvetica, Arial, Sans-Serif;
font-weight: bold;
color: #2F4F4F;}
img { behavior: url(/stylesheets/iepngfix.htc); }

.sin-salto h4 {
		display:inline;
		
}
.sin-salto p {
		display:inline;
		
}

.sin-salto h5 {
		display:inline;
		color: #cccccc;
}
img { border: 0; }


/* contenedor */
#container {
		background-color:#FFFFF0;
		color: #2F4F4F;
		width: 1000px;
		height:auto;
	}

#container3 {
		background-color:#FFFFF0;
		color: #2F4F4F;
		width: 2320px;
		height:auto;
	}
/* cabecera */

.header {
		width:auto;
		height:100px;
		background-color:#FAFAD2;
		margin:0 0 0 0;
		padding:10px 50px 0 50px;
		background-image:  url("/images/bordea.png"); 
		background-repeat: repeat-x;
		background-position: bottom; 
		position: relative;

		}
/* logo */
.header1 {
	float:left;
	width: 20%;
	height:100%;
	vertical-align: middle;
	}
/* usuario */
.header2 {
	float:right;
	text-align: right;
	width: 20%;
	height:50%;
	/*margin:20px 0 0 0;*/
	padding:22px 0 0 0;
	vertical-align: middle;
	}

.header2 a {
	text-decoration: underline;
	color: #A52A2A;
		font-family: Helvetica, Arial, Sans-Serif;
}


/* principal */
.content {
		width:500px;
		height:auto;
		margin:0px auto 10px auto;
		padding:0px 
		10px;
		text-align: center;
	}

.content a {
	text-decoration: underline;
	color: #A52A2A ;
}

.content p  {
	font-family: Helvetica, Arial, Sans-Serif;
		color: #2F4F4F;
		
		line-height: 120%;
		
	}
.content h5 {
color: #2F4F4F;
font-size:14px;
}

.content3 {
		width:600px;
		height:auto;
		margin:auto auto 100px auto;
		padding:10px;
		text-align: center;
	}

.content4 {
width:600px;

}
	
.footer{
	width:auto;
	height:20px;
	background-color:#FAFAD2;
	margin:0;
	padding-top:10px;
	padding-bottom: 5px;
	padding-left:20%;
	padding-right:10%;
	color: #2F4F4F;
	
	background-image:  url("/images/bordeb.png"); 
	background-repeat: repeat-x; 
	
	}
	.footer a{
	text-decoration: underline;
	color:#A52A2A;
font-family: Helvetica, Arial, Sans-Serif;
padding-left:10px;
font-size: 12px;
	}		
	
.imgfooter {
	overflow:hidden;
	float:left;
	width: 30px;
	height:100%;
	/*centrar 
	margin: 0 auto 0 100px; */
	/*background: transparent url("/images/footer.png") no-repeat;*/
	}

.foot {
width: 100%;
	height:100%;
}

/* caja de form */
.caja{
width: 300px;
height:auto;
margin:auto auto 10px auto;
padding:10px;
text-align: left;
	}
	
.cajab{
width: 430px;
height:auto;
margin:auto auto 10px auto;
padding:10px;
text-align: left;
	}

.cajac{
width: 400px;
height:auto;
margin:auto auto 10px auto;
padding:10px;
text-align: left;
	}

.caja1{
width: 600px;
height:auto;
margin: 2px 0px;
padding:10px 10px 0px 10px;
text-align: left;
}

.caja10{
width: auto;
height:auto;
margin:auto auto 10px auto;
padding:10px;
text-align: left;
}

/* caja setup3 */
.cajacontent{
width: 530px;
height:250px;
margin:auto auto 10px auto;
padding:10px;
text-align: left;

/*cambios*/

	}

/* caja show_blog */
.show_blog{
  width: 530px;
  margin:auto auto 10px auto;
  padding:10px;
  text-align: left;
}
	
	
/* cajas setup-3 fotos */
.box-fotos {
 /*background:transparent;*/
width: 250px;
height:130px;
margin:auto auto auto 200px;


}

.left {
float: left; 
}
.cajaleft {
background:transparent;
overflow: visible;
float: left; 
width: 58px;
height:58px;
padding: 0px;
}

.cajaleft-z {
background:transparent;
overflow: visible;
float: left; 
width: 58px;
height:58px;
padding: 25px;
}
/* fin cajas */

.foto {
padding: 100px;
background-color: #FFF;
border: 1px solid ;
}

/* aquí iria estilo de form*/






/**
* Forgot password form css
*/

form.forgot label {
display: block;
width: 200px;
float: left;
margin-bottom: 10px;
  color:#999;
	text-align: right;
	width: 75px;
	padding-top:10px;
	padding-right: 20px;
	font-family:Helvetica, Arial, Sans-Serif;
}

form.forgot .submit {
  width:150px;
  float:right;
  position:relative;
  right:30px;
}

form.forgot small {
  float:left;
  position:relative;
  top:20px;
}

form.forgot br {
	clear: left;
}

/**
* Select blogs form css
*/

form.select_blogs label {
  display: block;
  width: 330px;
  float: left;
  margin-bottom: 10px;
  color:#999;
	text-align: right;
	width: 75px;
	padding-top:10px;
	padding-right: 20px;
	font-family:Helvetica, Arial, Sans-Serif;
}

form.select_blogs .submit {
  width:150px;
  position:relative;
  left:189px;
}

form.select_blogs .waiting {
	font-size:12px;
	float:left;
  	position:relative;
	top:-25px;
	height:0px;
}

form.select_blogs .waiting img{
	vertical-align:bottom;
	padding-left:3px;
}

form.select_blogs small {
  float:left;
  position:relative;
  top:20px;
}

form.select_blogs br {
	clear: left;
}

form input.hidden {
  display:none;
}

/**
* Small forms
*/

.small label {
  color:#2F4F4F;
  padding-top:10px;
  padding-right: 20px;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.small .submit {
  width:100px;
  float:right;
}

.small small {
  float:left;
  position:relative;
  top:20px;
}

.small br {
	clear: left;
}

.small input.hidden{
  visibility:hidden;
}

/**
* large forms
*/

form.large{
  
}

.small label {
  color:#999;
  padding-top:10px;
  padding-right: 20px;
	width: 200px;
	float: left;
	margin-bottom: 10px;
}

.small .submit {
  width:100px;
  float:right;
}

.small small {
  float:left;
  position:relative;
  top:20px;
}

.small br {
	clear: left;
}

.small input.hidden{
  visibility:hidden;
}

/* cajas redondeada */
#xsnazzy h1, #xsnazzy h2, #xsnazzy p {margin:0 5px; color:#fff;}
#xsnazzy h1 {font-size:2.5em; color:#fff;}
#xsnazzy h2 {font-size:2em;color:#06a; border:0;}
#xsnazzy p {padding-bottom:0.5em;}
#xsnazzy h2 {padding-top:0.5em;}
#xsnazzy {background: transparent; margin:1em;}

.xsnazzyz h1, .xsnazzyz h2, .xsnazzyz p { margin: 0 10px }
.xsnazzyz h1 { font-size: 2.5em; color: #ffffff; }
.xsnazzyz h2 { font-size: 1em; color: #ffffff; border: 0; }
.xsnazzyz p { padding-bottom: 0.5em; }
.xsnazzyz h2 { padding-top: 0.5em; } 
.xsnazzyz { background: transparent; margin: 1em; }

.xsnazzy h5 {margin:0 0 10px 0; color: #666666;}
.xsnazzy h4  { font-size: 20px; color: #666666; float: left; margin:0; margin-right: 5px;}      /*CAMBIOS*/
.xsnazzy h3 {margin: 0}

/* caja redondeada borde amarillo */
.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
.xb1z, .xb2z, .xb3z, .xb4z {display:block; overflow:hidden;}
.xb1z, .xb2z, .xb3z {height:1px;}
.xb2z, .xb3z, .xb4z {background:#fc9800; border-left:2px solid #fc9800; border-right:2px solid #fc9800;}
.xb1z {margin:0 5px; background:#fc9800;}
.xb2z {margin:0 3px; border-width:0 3px;}
.xb3z {margin:0 2px;}
.xb4z {height:2px; margin:0 1px;}
.xboxcontentz {display:block; background:#FAFAD2; border:0 solid #fc9800; border-width:0 2px;}

/*tmp  caja redondeada negra*/
.xtopb, .xbottomb {display:block; background:transparent; font-size:1px;}
.xb1b, .xb2b, .xb3b, .xb4b {display:block; overflow:hidden;}
.xb1b, .xb2b, .xb3b {height:1px;}
.xb2b, .xb3b, .xb4b {background:#232323; border-left:2px solid #232323; border-right:2px solid #232323;}
.xb1b {margin:0 5px; background:#232323;}
.xb2b {margin:0 3px; border-width:0 10px;}
.xb3b {margin:0 2px;}
.xb4b {height:2px; margin:0 1px;}
.xboxcontentb { display: table;display:block; background:#FAFAD2; border:0 solid #232323; border-width:0 2px;}


/* end cajas redondeada */

/* caja form */

.box{
	width: 100%;
	height:100%;
	color: #2F4F4F;
	
}

.spiffy{
display:block;
}
.spiffy *{
display:block;
height:1px;
overflow:hidden;
background:#FAFAD2;
}
.spiffy1{
border-right:1px solid #FAFAD2;
padding-right:1px;
margin-right:3px;
border-left:1px solid #FAFAD2;
padding-left:1px;
margin-left:3px;
background:#FAFAD2;
}
.spiffy2{
border-right:1px solid #FAFAD2;
border-left:1px solid #FAFAD2;
padding:0px 1px;
background:#FAFAD2;
margin:0px 1px;
}
.spiffy3{
border-right:1px solid #FAFAD2;
border-left:1px solid #FAFAD2;
margin:0px 1px;
}
.spiffy4{
border-right:1px solid #FAFAD2;
border-left:1px solid #FAFAD2;
}
.spiffy5{
border-right:1px solid #FAFAD2;
border-left:1px solid #FAFAD2;
}
.spiffy_content{
border-right:20px solid #FAFAD2;
border-left:20px solid #FAFAD2;
padding:0px 5px;
background:#FAFAD2;
}
.spiffy_content p { color: #2F4F4F}

p.notice {
  color:#00FF00;
}

p.warning {
  color:#FF0000;
}

.spiffy_content li{
  margin-left: 0;
  padding-left: 0;
  white-space: nowrap;
}

.spiffy_content li{
  list-style-type: none;
}

.centrar{
text-align: center;
}

.ladoa {
width:100px;
float: left;
}
.ladob {
width:100px;
float: right;
text-align: right;	
}

/* end caja form */

/*HOME*/

.principal1{
		width:800px;
		height: auto ;
		overflow: hidden;
		background-color:#FFFFF0;
		margin:auto auto 100px 10%;
		/*padding:10px;*/
		padding: 1%;
		
	}
	
.box-1 {
	/*margin: 20px;*/	
	/*float: none;*/
	width: 100%;
	overflow: hidden;
	
	
}

.box-2 { 
	margin-left: 10px;
	/*float: none;*/
	width: 98%;
	/*background-color: #fff;*/
	/*margin-top:10%;*/
	/*height: 1%  */
	padding-top:10px;
	overflow: hidden;
}	

.box-2 h5 {
	color: #2F4F4F;
}
.box-3 {
		
	width: 800px;
	/*background-color: #fff;*/
	overflow: hidden;
	margin-bottom:5%;
	margin-left: 10%;
}

.box-left { 
	/*margin: 20px;*/
	
	/*width: 45%;*/
	/*background-color: #e14800;*/	
	position:absolute; left:10%;width:35%;
	

}	
.box-right { 
	/*margin: 20px;*/
	
	width: 35%;
	margin-left:48%;
	height: 1% /* Holly hack for Peekaboo Bug */
}	




.side-a {
	float: left;
	width: 390px;
	overflow: hidden;
	margin-left:5%;
}

.side-a2 {
	float: left;
	width: 28%;
	overflow: hidden;
	margin-right:0,1%;
	margin-left:5%;
}
.side-b { 
	overflow: hidden;
	margin: auto;
	float: left;
	width: 38%;
	margin-left: 10%;
	height: 1% /* Holly hack for Peekaboo Bug */;
	
}
.side-b2 { 
	overflow: hidden;
	/*margin: auto;*/
	float: left;
	width: 28%;
	margin-left: 3%;
	margin-right: 3%;
	height: 1% /* Holly hack for Peekaboo Bug */;
	
}
.side-c {
	float: right;
	width: 28%;
	overflow: hidden;
	margin-right: 5%;
}

.side-an{
	float: left;
	width: 45%;
	overflow: hidden;
}

.side-bn { 
	overflow: hidden;
	margin: auto;
	float: left;
	width: 40%;
	/*margin-left: 100px;*/
	padding-left: 100px;
	height: 1% /* Holly hack for Peekaboo Bug */;
	
}

/*caja clara*/

.xtop, .xbottom { display: block; background: transparent; font-size: 1px; }
.xa1, .xa2, .xa3, .xa4 { display: block; overflow: hidden; }
.xa1, .xa2, .xa3 { height: 1px;}
.xa2, .xa3, .xa4 { background: #FAFAD2; border-left: 1px solid #FAFAD2; border-right: 1px solid #FAFAD2; }
.xa1 { margin: 0 5px; background: #FAFAD2; }
.xa2 { margin: 0 3px; border-width: 0 2px; }
.xa3 { margin: 0 2px;}
.xa4 { height: 2px; margin: 0 1px; }

.xboxacontent { display: block; background:#FAFAD2; border: 0 solid #FAFAD2; border-width: 0 1px; }

/*PORTLET*/



#side-a {
	float: left;
	width: 270px;
}

#side-b { 
	float: left;
	width: 210px;
	height: 1%; /* Holly hack for Peekaboo Bug */
	margin-top: 10px;
}




#side-a h1  {
		font:30px Helvetica, Arial, Sans-Serif;
		text-align : left;
		font-weight: bold;
		color : #2F4F4F;
		
	 }


#side-a h2 {

	font:14px Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	color:#2F4F4F;
	padding:10px;
	margin:0;
	}
#side-a p  {
		font:13px Helvetica, Arial, Sans-Serif;
		color: #2F4F4F;
	/*	text-align : center; */
		line-height: 120%;
		
	}

#side-b h1  {
		font:30px Helvetica, Arial, Sans-Serif;
		text-align : left;
		font-weight: bold;
		color : #2F4F4F;
		
	 }


#side-b h2 {

	font:14px Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	color:#2F4F4F;
	padding:10px;
	margin:0;
	}



#side-b p  {
		font:13px Helvetica, Arial, Sans-Serif;
		color: #2F4F4F;
	/*	text-align : center; */
		line-height: 120%;
		
	}
#side-b a{
	text-decoration: underline;
	color:#A52A2A;
	}	
.box-p {
	
	width: 100%;
	overflow: hidden;
	
	
}
#container-a	{
	width:500px;
	height:auto;
	margin: 0 auto;
	background-color:#FAFAD2;
	overflow: hidden;
}	


/*DEsde aqui, chungo!! No he cambiado los colores de fondo ni de la fuente porque no encuentro donde coño se usan!*/


/*flotante*/

#side-a img { float: left }
#side-a body { margin: 10px }
#side-a p { margin: 10px }
#side-a img { margin: 10px }
#side-a p { clear: left }
#side-b img { float: left }
#side-b body { margin: 10px }
#side-b p { margin: 10px }
#side-b img { margin: 10px }
#side-b p { clear: left }

/*caja*/

.xsnazzy h1, .xsnazzy h2, .xsnazzy p { margin: 0 10px }
.xsnazzy h1 { font-size: 2.5em; color: #ffffff; }
.xsnazzy h2 { font-size: 1em; color: #ffffff; border: 0; }
.xsnazzy p { font:11px Helvetica, Arial, Sans-Serif;
		color: #cccccc;padding-bottom: 0.5em; }
.xsnazzy h2 { padding-top: 0.5em; }
.xsnazzy { background: transparent; margin: 1em; }

.xtop, .xbottom { display: block; background: transparent; font-size: 1px; }
.xb1, .xb2, .xb3, .xb4 { display: block; overflow: hidden; }
.xb1, .xb2, .xb3 { height: 1px;}
.xb2, .xb3, .xb4 { background: #3f3f3f; border-left: 1px solid #3f3f3f; border-right: 1px solid #3f3f3f; }
.xb1 { margin: 0 5px; background: #3f3f3f; }
.xb2 { margin: 0 3px; border-width: 0 2px; }
.xb3 { margin: 0 2px;}
.xb4 { height: 2px; margin: 0 1px; }

.xboxcontent { display: block; background: #3f3f3f; border: 0 solid #3f3f3f; border-width: 0 1px; }

/* me salto caja clara */


/*CAMBIOS*/
.navenlace {
   

   width: 40px;
   height: 40px;
   
} 
.navenlace a {

   padding:8px;
   display: block;
   width: 40px;
   height: 40px;
   
}

.navenlace a:hover {
	background: transparent url("/images/borde.png") no-repeat;

	padding:8px;

	 width: 40px;
   height: 40px;
} 

.navenlace a.selected_avatar {
	background: transparent url("/images/borde.png") no-repeat;
}

.cajaform {
width: auto;
   height: 10px;
}

/**
* Avatar selection
*/

.user_avatar{
  font-size:12px;
}
.user_avatar a{
  text-decoration:none;
}

.user_avatar img{
  border:0;
  margin-bottom:5px;
}

/* me salto feevy code control */

/**
* Bogus management
*/

.bogus_error {
  background-color:#772211;
}

.bogus_ok {
  background-color:#336633;
}

.bogus_true {
  background-color:#772211;
}

/***
* WillPaginate style
***/

.pagination {
	padding: 3px;
	margin: 3px;
}
.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #aaaadd;
	text-decoration: none;
	color: #FC9800;
}
.pagination a:hover, .pagination a:active {
	border: 1px solid #FC9800;
	color: #000;
}
.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #FC9800;
	font-weight: bold;
	background-color: #FC9800;
	color: #FFF;
}
.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #eee;
	color: #ddd;
}

/***
* Progress bar for background task
***/
.progress{
  width: 1px;
  height: 16px;
  color: white;
  font-size: 12px;
  overflow: hidden;
  background-color: #287B7E;
  padding-left: 5px;
}

/***
* taglist
***/

.tag_list{
  
}

.tag_list form{
  display:inline;
}

.tag_list input{
  display:inline;
  height:14px;
  font-size:12px;
  vertical-align: middle;
}

.tag_list input.submit{
  height:20px;
}

/***
* feevy list
***/
#feevy_list{
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  width:600px;
}


