Hello <%= @user.name %>,

To reset your password, please visit the following URL:

http://favs.homelinux.org/auth/reset?login=<%= @user.login %>&validkey=<%= @user.validkey %>

Thank you,

<%= @app[:title] %> Administrator
<%= @app[:url] %>
