<div class="content3">
  
  <h2>Last step!</h2>
  <p>Please, let me know the name and the mail of the pupil</p>
  
	<h3> <%= Feed de este usuario @feed.id %>
  
    

  <h2><%= link_to "done, let's go back to my feevy", :action => "avatar_selected" %></h2>
  
</div>
